ddns-update-style none;

#for $key, $value in $server.params().iter()
$key $value;
#end for

#for $subnet in $server.subnets().itervalues()
subnet $subnet.addr() netmask $subnet.mask() {
    #for $key, $value in $subnet.params().iter()
    $key $value;
    #end for

    #set $r = $subnet.range(1)
    #if $r != ()
    pool {
        range $r[0] $r[1];
        deny unknown-clients;
    }
    #end if
    #set $r = $subnet.range(2)
    #if $r != ()
    pool {
        range $r[0] $r[1];
        allow unknown-clients;
    }
    #end if
}
#end for

group {
    #for $host in $server.hosts().itervalues()
    host $host.name() {
        #for $key, $value in $host.params().iter()
        $key $value;
        #end for
    }
    #end for
}

