ddns-update-style none;

#for $key, $value in $server.params().iter()
$key $value;
#end for

#for $subnet in $server.subnets()
subnet $subnet.prefix.str netmask $subnet.mask.str {
    #for $key, $value in $subnet.params().iter()
    $key $value;
    #end for

    #for $range in $subnet.ranges()
        #if $range.knownCap() or $range.unknownCap()
    pool {
        range $range.start.str $range.end.str;

        #for $key, $value in $range.params().iter()
        $key $value;
        #end for

        #if $range.knownCap()
        allow known-clients;
        #end if

        #if $range.unknownCap()
        allow unknown-clients;
        #end if
    }
        #end if
    #end for
}
#end for

group {
    #for $host in $server.hosts()
    host $host.name() {
        #for $key, $value in $host.params().iter()
        $key $value;
        #end for
    }
    #end for
}

